# ---- Python ----
__pycache__/
*.py[cod]
*$py.class

# ---- Django ----
*.log
*.pot
*.pyc
*.pid
*.swp
*~

# Оставляем базу в репозитории (db.sqlite3 НЕ исключаем).
# Если решите исключать, раскомментируйте строчку ниже
# db.sqlite3

# Если вы храните media-файлы (загруженные изображения и т.д.) в папке media/, 
# обычно их не заливают в репозиторий (особенно если они большие).
# Если вам нужно хранить их в репе - закомментируйте/удалите строки ниже
media/

# ---- Virtual Environments ----
venv/
.venv/
env/
ENV/

# ---- VSCode ----
.vscode/

# ---- macOS ----
.DS_Store
